__pycache__/
1d/lightning_logs/
/python-shot/build/
/python-shot/handcrafted_descriptor.egg-info/
lightning_logs/
outputs/
wandb/
1d/checkpoints/
1d/wandb/
validation_artifacts/
validation_data/
brezis_1d/checkpoints
checkpoints/
eigen_cache/
.polyscope.ini
imgui.ini
model.ckpt
screenshots/
eigenvalues_eval/
*.svg
*.csv
*.png
/.venvs
/venv